# Environnements locaux
.env
.venv

# API keys et config
api_keys.json
set_api_config.json
*.cache

# Logs
logs/
olds/
*.log
*.csv
*.old

# Backups
baks/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/

# OS
.DS_Store
Thumbs.db" > .gitignore
